@page
@model KTLT_Demo.Pages.MH_doc_dagiacModel
@using KTLT_Demo.Business
@using KTLT_Demo.DAL;
@using KTLT_Demo.ENTITY;  
@{
    Layout = null;
    string Chuoi = "";

    //DAGIAC dg = LT_DAGIAC.DocDaGiac("d:\\dagiac.txt");
    DAGIAC dg = LT_DAGIAC.DocDaGiac("d:\\dagiac.json");

    Chuoi = string.Empty;
    foreach (DIEM d in dg.Dinh)
    {
        Chuoi = Chuoi + $"({d.X},{d.Y})";
    }
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 20%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>X</th>
            <th>Y</th>
        </tr>
        @foreach (DIEM d in dg.Dinh)
        {
            <tr>
                <td>@d.X</td>
                <td>@d.Y</td>
            </tr>
        }
    </table>
    
</body>
</html>
