@page
@model KTLT_Demo.Pages.MH_luu_diemModel;
@using KTLT_Demo.Business;
@using KTLT_Demo.DAL; 
@using KTLT_Demo.ENTITY; 
@{
    Layout = null;
    DIEM A;

    //A.X = A.Y = 0;
    A.X = Model.X1;
    A.Y = Model.Y1;

    string Chuoi = string.Empty;

    if (Request.Method == "POST")
    {
        // A.X = int.Parse(Request.Form["x1"]);
        // A.Y = int.Parse(Request.Form["y1"]);
        XL_DIEM.LuuDiem(A,  "d:\\diem.json");
        //XL_DIEM.LuuDiem(A, AppContext.BaseDirectory +  "/diem.txt"); // Cho đường dẫn tới thư mục tới file DLL trong thư mục 
        //LT_DIEM.LuuDiem(A, Environment.CurrentDirectory + "/diem.txt");

        Chuoi = "Da luu diem";
    }
}
<!DOCTYPE html>
<html>
<body>

    <form method="post">
        <label for="fname">Nhap X1:</label><br>
        <input type="text" id="lname" name="x1" value="@A.X"><br><br>
        <label for="lname">Nhap Y1:</label><br>
        <input type="text" id="lname" name="y1" value="@A.Y"><br><br>
        <input type="submit" value="Lưu">
    </form>
    @Chuoi
    Giá trị X = @Model.X1       Y = @Model.Y1 
</body>
</html>
