@page
@model KTLT_Demo.Pages.MH_luu_dagiacModel;
@using KTLT_Demo.Business;
@using KTLT_Demo.DAL;
@using KTLT_Demo.ENTITY; 
@{
    Layout = null;

    string Chuoi = "";

    if (Request.Method == "POST")
    {
        string dinh = Request.Form["dinh"];

        DAGIAC dg = XL_DAGIAC.KhoiTaoDaGiac(dinh);

        //XL_DAGIAC.LuuDaGiac(dg, "d:\\dagiac.txt");
        LT_DAGIAC.LuuDaGiac(dg, "d:\\dagiac.json");
    }
}
<!DOCTYPE html>
<html>
<body>
    <form method="post">
        <label for="fname">Nhap Da Giac:</label><br>
        <input type="text" id="fname" name="dinh" value=""><br>
        <input type="submit" value="Lưu">
    </form>
    @Chuoi
</body>
</html>